{% for post in posts %}
    <article class="post">

        <header>

            <h2><a href="{{ url(post.path) }}">{{ post.title }}</a></h2>

            <div class="meta">

                <span class="author">
                    {{ post.author.display_name }}
                </span>

                <time class="date" datetime="{{ post.publish_at.iso }}">
                    {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                </time>

                {% if post.category %}
                    <span class="category">
                        {{ html_link(post.category.path, post.category.name) }}
                    </span>
                {% endif %}

                {% if post.tags %}
                    <span class="tags">
                        {{ post.tag_links|raw }}
                    </span>
                {% endif %}

            </div>

        </header>

        <div class="summary">
            {% if post.summary %}
                <p>{{ post.summary|nl2br|raw }}</p>
            {% endif %}
        </div>

    </article>
{% endfor %}
