{% extends "streams::blank" %}

{% block content %}

    <section id="posts">
        {% for post in posts %}
            <div class="post">

                <h1 class="title">
                    <a href="{{ post.getUrl() }}">
                        {{ post.title }}
                    </a>
                </h1>

                <p>
                    {{ str_truncate(post.content, 100)|raw }}
                </p>

                <p class="meta">
                    <span class="date">
                        {{ post.created_at }}
                    </span>

                    {% if post.category_id %}
                        <span class="date">
                            {{ post.category_id }}
                        </span>
                    {% endif %}

                    {% if post.tags %}
                        <span class="tags">
                            {% for tag in post.tags.getValue() %}
                                {% if not loop.first %}, {% endif %}
                                <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}

                    {#<span class="edit">
                        {{ html_link('admin/blog/posts/edit/' ~ post.id, trans('streams::button.edit')) }}
                    </span>#}
                </p>
            </div>
        {% endfor %}
    </section>

{% endblock %}
