{% extends post.type.theme_layout ?: "theme::layouts/default" %}

{% block content %}

    <section id="posts">

        <article id="post">

            <header>

                <h1>{{ post.title }}</h1>

                <span class="date">
                    {{ post.posted_at|date(config_get('streams::datetime.date_format')) }}
                </span>

            </header>

            <section class="meta">

                {% if post.category %}
                    <span class="category">
                        {{ post.category.name }}
                    </span>
                {% endif %}

                {% if post.tags %}
                    <span class="tags">
                        {{ post.tags.labels|raw }}
                    </span>
                {% endif %}

            </section>

            <section class="content">
                {{ post.content|raw }}
            </section>

        </article>

    </section>

{% endblock %}
