<div class="modal-header">
    <h4 class="modal-title">
        {{ trans('module::admin.choose_blog') }}
        <br>
        <small>{{ trans('module::admin.choose_blog_instructions') }}</small>
    </h4>
</div>

<div class="modal-body">
    <ul class="nav nav-pills nav-stacked">
        {% for blog in blog %}

            <li>
                <a href="{{ url_to('admin/blog/posts/create/' ~ blog.id) }}">
                    <strong>{{ blog.name }}</strong>
                    <br>
                    <small>{{ blog.description }}</small>
                </a>
            </li>

        {% endfor %}
    </ul>
</div>
