<div class="header">
    {{ trans('module::admin.choose_post_type') }}
    <br>
    <small>{{ trans('module::admin.choose_post_type_instructions') }}</small>
</div>

<div class="small content">
    <div class="ui fluid vertical secondary menu">
        {% for type in types %}

            <a href="{{ url_to('admin/blog/posts/create/' ~ type.namespace) }}" class="item">
                <strong>{{ trans(type.name) }}</strong>
                <br>
                <small>{{ trans(type.description) }}</small>
            </a>

        {% endfor %}
    </div>
</div>
