<div class="modal-header">
    <h4 class="modal-title">
        {{ trans('module::admin.choose_post_type') }}
        <br>
        <small>{{ trans('module::admin.choose_post_type_instructions') }}</small>
    </h4>
</div>

<div class="modal-body">
    <ul class="nav nav-pills nav-stacked">

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Standard</strong>
                <br>
                <small>A standard, WYSIWYG type blog post.</small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Aside</strong>
                <br>
                <small>Typically styled without a title. Similar to a Facebook note update.</small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Gallery</strong>
                <br>
                <small>
                    A gallery of images. Post will likely contain a gallery shortcode and will have image
                    attachments.
                </small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Link</strong>
                <br>
                <small>
                    A link to another site. Themes may wish to use the first tag in the post content as the external
                    link for that post. An alternative approach could be if the post consists only of a URL, then that
                    will be the URL and the title (post_title) will be the name attached to the anchor for it.
                </small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Image</strong>
                <br>
                <small>
                    A single image. The first <img/> tag in the post could be considered the image. Alternatively, if
                    the post consists only of a URL, that will be the image URL and the title of the post (post_title)
                    will be the title attribute for the image.
                </small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Quote</strong>
                <br>
                <small>
                    A quotation. Probably will contain a blockquote holding the quote content. Alternatively, the quote
                    may be just the content, with the source/author being the title.
                </small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Status</strong>
                <br>
                <small>A short status update, similar to a Twitter status update.</small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Video</strong>
                <br>
                <small>
                    A single video or video playlist. The first
                    tag or object/embed in the post content could be considered the video. Alternatively, if the post
                    consists only of a URL, that will be the video URL. May also contain the video as an attachment to
                    the post, if video support is enabled on the blog (like via a plugin).
                </small>
            </a>
        </li>

        <li>
            <a href="{{ url_to('admin/blog/posts/create/standard') }}">
                <strong>Audio</strong>
                <br>
                <small>
                    An audio file or playlist. Could be used for Podcasting.
                </small>
            </a>
        </li>

        {% for type in types %}

            <li>
                <a href="{{ url_to('admin/blog/posts/create/' ~ blog.id) }}">
                    <strong>{{ trans(blog.name) }}</strong>
                    <br>
                    <small>{{ trans(blog.description) }}</small>
                </a>
            </li>

        {% endfor %}
    </ul>
</div>
